.u-section-1 {
    min-height: 836px;
  }
  
  .u-section-1 .u-image-1 {
    width: 619px;
    height: 718px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 94px auto 0 calc(((100% - 1140px) / 2) + -49px);
  }
  
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: Nunito;
    text-transform: none;
    margin: -536px calc(((100% - 1140px) / 2) + 22px) 0 calc(((100% - 1140px) / 2) + 625px);
  }
  
  .u-section-1 .u-text-2 {
    margin: 15px calc(((100% - 1140px) / 2) + 27px) 0 calc(((100% - 1140px) / 2) + 630px);
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 13px calc(((100% - 1140px) / 2) + 301px) 0 auto;
    padding: 10px 52px 10px 51px;
  }
  
  .u-section-1 .u-image-2 {
    height: 121px;
    margin-top: 254px;
    margin-bottom: 0;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 636px;
    }
  
    .u-section-1 .u-image-1 {
      width: 487px;
      height: 564px;
      margin-top: 69px;
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.75rem;
      width: auto;
      margin-top: -441px;
      margin-right: calc(((100% - 940px) / 2));
      margin-left: calc(((100% - 940px) / 2) + 533px);
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-top: 17px;
      margin-right: calc(((100% - 940px) / 2) + -76px);
      margin-left: calc(((100% - 940px) / 2) + 533px);
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 21px;
      margin-right: calc(((100% - 940px) / 2) + 198px);
    }
  
    .u-section-1 .u-image-2 {
      margin-top: 141px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 515px;
    }
  
    .u-section-1 .u-image-1 {
      width: 366px;
      height: 425px;
      margin-top: 52px;
      margin-left: calc(((100% - 720px) / 2) + -26px);
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
      margin-top: -306px;
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2) + 380px);
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 19px;
      margin-right: calc(((100% - 720px) / 2) + -155px);
      margin-left: calc(((100% - 720px) / 2) + 392px);
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 19px;
      margin-right: calc(((100% - 720px) / 2) + 119px);
    }
  
    .u-section-1 .u-image-2 {
      margin-top: 55px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 746px;
    }
  
    .u-section-1 .u-image-1 {
      width: 414px;
      height: 462px;
      margin-top: 258px;
      margin-left: auto;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: -672px;
      margin-left: 1px;
      margin-right: 1px;
    }
  
    .u-section-1 .u-text-2 {
      width: 483px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 13px;
      margin-right: auto;
    }
  
    .u-section-1 .u-image-2 {
      margin-top: 415px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 721px;
    }
  
    .u-section-1 .u-image-1 {
      width: 403px;
      height: 468px;
      margin-top: 240px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: -649px;
      margin-left: 25px;
      margin-right: 25px;
    }
  
    .u-section-1 .u-text-2 {
      width: 340px;
      margin-top: 13px;
      margin-right: 65px;
      margin-left: 76px;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 9px;
    }
  
    .u-section-1 .u-image-2 {
      margin-top: 388px;
      margin-bottom: 1px;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 686px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 50px auto 0;
  }
  
  .u-section-2 .u-group-1 {
    width: 570px;
    min-height: 504px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 30px 0 0 auto;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  
  .u-section-2 .u-video-1 {
    height: 326px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    margin-top: 28px;
    margin-bottom: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .embed-responsive-1 {
    position: absolute;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0 300px;
  }
  
  .u-section-2 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: -46px auto 0 112px;
    padding: 10px 52px 10px 51px;
  }
  
  .u-section-2 .u-text-2 {
    font-weight: normal;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -401px 638px 60px 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 599px;
    }
  
    .u-section-2 .u-text-1 {
      margin-top: 51px;
    }
  
    .u-section-2 .u-group-1 {
      margin-right: -14px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-bottom: 0;
    }
  
    .u-section-2 .u-btn-1 {
      align-self: flex-end;
    }
  
    .u-section-2 .u-text-2 {
      width: auto;
      margin-top: -458px;
      margin-right: 600px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 877px;
    }
  
    .u-section-2 .u-group-1 {
      width: 515px;
      margin-top: 29px;
      margin-right: auto;
    }
  
    .u-section-2 .u-btn-1 {
      margin-right: 51px;
      margin-left: auto;
    }
  
    .u-section-2 .u-btn-2 {
      margin-left: 51px;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 21px;
      margin-right: -14px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 829px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 270px;
    }
  
    .u-section-2 .u-btn-2 {
      margin-left: 82px;
    }
  
    .u-section-2 .u-text-2 {
      margin: 26px 0 51px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 100vh;
    }
  
    .u-section-2 .u-group-1 {
      min-height: 382px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-video-1 {
      height: 196px;
      margin-top: 59px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 37px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-2 .u-btn-2 {
      margin-left: 0;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 24px;
      margin-bottom: 60px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 1587px;
  }
  
  .u-section-3 .u-text-1 {
    margin: 61px auto 0;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 620px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-3 .u-text-2 {
    margin: 167px 40px 0;
  }
  
  .u-section-3 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 32px auto 0;
    padding: 10px 52px 10px 51px;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 620px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-3 .u-video-1 {
    height: 508px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    width: 241px;
    margin: 15px auto 0;
  }
  
  .u-section-3 .embed-responsive-1 {
    position: absolute;
  }
  
  .u-section-3 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 20px 97px 0 auto;
  }
  
  .u-section-3 .u-btn-3 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: -46px auto 0 97px;
    padding: 10px 52px 10px 51px;
  }
  
  .u-section-3 .u-layout-wrap-2 {
    margin: 57px 0 60px;
  }
  
  .u-section-3 .u-layout-cell-3 {
    min-height: 634px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 13px 60px;
  }
  
  .u-section-3 .u-image-1 {
    width: 297px;
    height: 586px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 37px 0 auto;
  }
  
  .u-section-3 .u-layout-cell-4 {
    min-height: 634px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 30px 0;
  }
  
  .u-section-3 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 170px 21px 0;
  }
  
  .u-section-3 .u-btn-4 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 32px auto 0;
    padding: 10px 52px 10px 51px;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1460px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 623px;
    }
  
    .u-section-3 .u-text-2 {
      width: auto;
      margin-top: 74px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 623px;
      background-position: 50% 50%;
    }
  
    .u-section-3 .u-video-1 {
      height: 509px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-right: 47px;
    }
  
    .u-section-3 .u-btn-3 {
      margin-left: 47px;
    }
  
    .u-section-3 .u-layout-wrap-2 {
      margin-top: 20px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 523px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      background-position: 50% 50%;
      min-height: 523px;
    }
  
    .u-section-3 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1203px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 671px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 671px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-top: 74px;
      margin-right: auto;
    }
  
    .u-section-3 .u-btn-3 {
      margin-top: -105px;
      margin-left: auto;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 401px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-image-1 {
      width: 295px;
      height: 582px;
      margin-right: 0;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1860px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 189px;
    }
  
    .u-section-3 .u-text-2 {
      margin-top: 1px;
      margin-left: 12px;
      margin-right: 12px;
    }
  
    .u-section-3 .u-btn-1 {
      margin-top: 12px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 663px;
    }
  
    .u-section-3 .u-btn-2 {
      margin-top: 70px;
    }
  
    .u-section-3 .u-btn-3 {
      margin-top: -104px;
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 618px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding: 0 10px;
    }
  
    .u-section-3 .u-image-1 {
      margin-top: 192px;
      margin-right: auto;
      margin-bottom: -166px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 145px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-3 .u-text-3 {
      width: auto;
      margin-top: -605px;
    }
  
    .u-section-3 .u-btn-4 {
      margin-top: 12px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 2171px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 198px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 9px;
      padding-right: 9px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 680px;
    }
  
    .u-section-3 .u-layout-wrap-2 {
      margin-bottom: 0;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-image-1 {
      margin-top: 264px;
      margin-bottom: -238px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 436px;
    }
  
    .u-section-3 .u-text-3 {
      margin-top: -587px;
    }
  } .u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 1197px;
  }
  
  .u-section-4 .u-text-1 {
    margin: 70px auto 0;
  }
  
  .u-section-4 .u-list-1 {
    grid-template-rows: auto auto;
    margin-top: 61px;
    margin-bottom: 0;
  }
  
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    grid-gap: 10px 10px;
    min-height: 952px;
  }
  
  .u-section-4 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-4 .u-group-1 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-2 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-1 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-3 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-1 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-3 {
    padding: 0;
  }
  
  .u-section-4 .u-group-2 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-4 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-2 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-5 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-3 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-4 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-5 {
    padding: 0;
  }
  
  .u-section-4 .u-group-3 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-6 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-3 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-7 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-5 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-6 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-7 {
    padding: 0;
  }
  
  .u-section-4 .u-group-4 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-8 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-4 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-9 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-7 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-8 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-9 {
    padding: 0;
  }
  
  .u-section-4 .u-group-5 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-10 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-10 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-5 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-11 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-9 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-10 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-11 {
    padding: 0;
  }
  
  .u-section-4 .u-group-6 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-12 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-12 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-6 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-13 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-11 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-12 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-list-item-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-13 {
    padding: 0;
  }
  
  .u-section-4 .u-group-7 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-14 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-14 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-7 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-15 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-13 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-14 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-list-item-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-4 .u-container-layout-15 {
    padding: 0;
  }
  
  .u-section-4 .u-group-8 {
    width: 255px;
    min-height: 459px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 0 auto;
  }
  
  .u-section-4 .u-container-layout-16 {
    padding: 0 21px;
  }
  
  .u-section-4 .u-text-16 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -16px 2px 0;
  }
  
  .u-section-4 .u-icon-8 {
    height: 82px;
    width: 82px;
    background-image: none;
    margin: 16px auto 0;
  }
  
  .u-section-4 .u-text-17 {
    margin: 20px 0 0 4px;
  }
  
  .u-section-4 .u-btn-15 {
    border-style: solid;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 10px 33px;
  }
  
  .u-section-4 .u-btn-16 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 16px auto 0;
    padding: 10px 28px;
  }
  
  .u-section-4 .u-shape-1 {
    width: 102px;
    height: 102px;
    margin: -150px auto 0 374px;
  }
  
  .u-section-4 .u-btn-17 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -28px auto 0 89px;
    padding: 10px 16px 10px 15px;
  }
  
  .u-section-4 .u-btn-18 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -529px 90px 0 auto;
    padding: 10px 18px 10px 17px;
  }
  
  .u-section-4 .u-btn-19 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 434px 55px 0 auto;
    padding: 10px 60px 10px 59px;
  }
  
  .u-section-4 .u-btn-20 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -44px 376px 60px auto;
    padding: 10px 18px 10px 17px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 1609px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
      min-height: 785px;
    }
  
    .u-section-4 .u-text-3 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-2 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-text-5 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-4 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-text-7 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-6 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-text-9 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-8 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-text-11 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-10 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-text-13 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-12 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-text-15 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-14 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-text-17 {
      width: 206px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-16 {
      margin-top: 20px;
    }
  
    .u-section-4 .u-shape-1 {
      margin-top: -600px;
      margin-right: 101px;
      margin-left: auto;
    }
  
    .u-section-4 .u-btn-17 {
      margin-top: -30px;
      margin-left: auto;
    }
  
    .u-section-4 .u-btn-18 {
      margin-top: -46px;
      margin-right: auto;
      margin-left: 102px;
    }
  
    .u-section-4 .u-btn-19 {
      margin-top: 421px;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-20 {
      margin: -42px auto 40px 104px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 2617px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
      min-height: 2405px;
    }
  
    .u-section-4 .u-shape-1 {
      margin-top: -864px;
      margin-right: 126px;
    }
  
    .u-section-4 .u-btn-17 {
      margin-top: -35px;
      margin-left: 127px;
    }
  
    .u-section-4 .u-btn-18 {
      margin-top: -647px;
      margin-right: 127px;
      margin-left: auto;
    }
  
    .u-section-4 .u-btn-19 {
      margin-top: 1154px;
      margin-right: 92px;
    }
  
    .u-section-4 .u-btn-20 {
      margin-top: -46px;
      margin-bottom: 60px;
      margin-left: 127px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-8 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-10 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-12 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-14 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-container-layout-16 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-4 .u-shape-1 {
      margin-right: 80px;
    }
  
    .u-section-4 .u-btn-17 {
      margin-left: 84px;
    }
  
    .u-section-4 .u-btn-18 {
      margin-top: -648px;
      margin-right: 82px;
    }
  
    .u-section-4 .u-btn-19 {
      margin-top: 1155px;
      margin-right: 46px;
    }
  
    .u-section-4 .u-btn-20 {
      margin-left: 84px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 4012px;
    }
  
    .u-section-4 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-4 .u-icon-1 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-icon-2 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-icon-3 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-icon-4 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-icon-5 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-icon-6 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-icon-7 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-icon-8 {
      margin-top: 24px;
      margin-right: 73px;
    }
  
    .u-section-4 .u-shape-1 {
      margin-top: -1093px;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-17 {
      align-self: center;
      margin-top: -499px;
      margin-left: auto;
    }
  
    .u-section-4 .u-btn-18 {
      margin-top: -515px;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-19 {
      margin-top: 1831px;
      margin-right: auto;
    }
  
    .u-section-4 .u-btn-20 {
      margin-top: -518px;
      margin-left: auto;
    }
  }.u-section-5 .u-sheet-1 {
    min-height: 608px;
  }
  
  .u-section-5 .u-text-1 {
    margin: 54px auto 0;
  }
  
  .u-section-5 .u-list-1 {
    grid-template-rows: auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    grid-gap: 10px 10px;
    min-height: 396px;
  }
  
  .u-section-5 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-5 .u-image-1 {
    height: 213px;
    width: 213px;
    background-image: url("images/nancy.png");
    background-position: 50% 0%;
    --animation-custom_in-scale: 1;
    margin: 0 auto 0 1px;
  }
  
  .u-section-5 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-5 .u-text-3 {
    margin: 0;
  }
  
  .u-section-5 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-5 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-5 .u-image-2 {
    height: 213px;
    width: 213px;
    background-image: url("images/fernanda.png");
    background-position: 50% 50%;
    --animation-custom_in-scale: 1;
    margin: 0 auto 0 1px;
  }
  
  .u-section-5 .u-text-4 {
    margin: 20px 0 0;
  }
  
  .u-section-5 .u-text-5 {
    margin: 0;
  }
  
  .u-section-5 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-5 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-5 .u-image-3 {
    height: 213px;
    width: 213px;
    background-image: url("images/britney.png");
    background-position: 50% 35.29%;
    --animation-custom_in-scale: 1;
    margin: 0 auto 0 1px;
  }
  
  .u-section-5 .u-text-6 {
    margin: 20px 0 0;
  }
  
  .u-section-5 .u-text-7 {
    margin: 0;
  }
  
  .u-section-5 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-5 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-5 .u-image-4 {
    height: 213px;
    width: 213px;
    background-image: url("images/me3copy1.jpeg");
    background-position: 50% 50%;
    --animation-custom_in-scale: 1;
    margin: 0 auto 0 1px;
  }
  
  .u-section-5 .u-text-8 {
    margin: 20px 0 0;
  }
  
  .u-section-5 .u-text-9 {
    margin: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 522px;
    }
  
    .u-section-5 .u-list-1 {
      height: auto;
    }
  
    .u-section-5 .u-image-1 {
      height: 165px;
      width: 165px;
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-image-2 {
      height: 165px;
      width: 165px;
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
    }
  
    .u-section-5 .u-text-5 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-image-3 {
      height: 165px;
      width: 165px;
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
    }
  
    .u-section-5 .u-text-7 {
      margin-left: 16px;
      margin-right: 16px;
    }
  
    .u-section-5 .u-image-4 {
      height: 165px;
      width: 165px;
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
    }
  
    .u-section-5 .u-text-9 {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
      min-height: 798px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-top: 29px;
      padding-bottom: 29px;
    }
  
    .u-section-5 .u-image-1 {
      margin-left: 60px;
    }
  
    .u-section-5 .u-text-2 {
      margin-top: 21px;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 12px;
      margin-right: 12px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-top: 29px;
      padding-bottom: 29px;
    }
  
    .u-section-5 .u-image-2 {
      margin-left: 60px;
    }
  
    .u-section-5 .u-text-4 {
      margin-top: 21px;
    }
  
    .u-section-5 .u-text-5 {
      margin-left: 12px;
      margin-right: 12px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-top: 29px;
      padding-bottom: 29px;
    }
  
    .u-section-5 .u-image-3 {
      margin-left: 60px;
    }
  
    .u-section-5 .u-text-6 {
      margin-top: 21px;
    }
  
    .u-section-5 .u-text-7 {
      margin-left: 12px;
      margin-right: 12px;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-top: 29px;
      padding-bottom: 29px;
    }
  
    .u-section-5 .u-image-4 {
      margin-left: 60px;
    }
  
    .u-section-5 .u-text-8 {
      margin-top: 21px;
    }
  
    .u-section-5 .u-text-9 {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-5 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-image-1 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-3 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-image-2 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-5 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-image-3 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-7 {
      margin-left: 9px;
      margin-right: 9px;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-5 .u-image-4 {
      margin-left: auto;
    }
  
    .u-section-5 .u-text-9 {
      margin-left: 9px;
      margin-right: 9px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 1217px;
    }
  
    .u-section-5 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-5 .u-container-layout-1 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-5 .u-image-1 {
      margin-top: 26px;
    }
  
    .u-section-5 .u-text-2 {
      width: auto;
      margin-top: 13px;
    }
  
    .u-section-5 .u-text-3 {
      width: auto;
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: -1px;
    }
  
    .u-section-5 .u-container-layout-2 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-5 .u-image-2 {
      margin-top: 26px;
    }
  
    .u-section-5 .u-text-4 {
      width: auto;
      margin-top: 13px;
    }
  
    .u-section-5 .u-text-5 {
      width: auto;
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: -1px;
    }
  
    .u-section-5 .u-container-layout-3 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-5 .u-image-3 {
      margin-top: 26px;
    }
  
    .u-section-5 .u-text-6 {
      width: auto;
      margin-top: 13px;
    }
  
    .u-section-5 .u-text-7 {
      width: auto;
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: -1px;
    }
  
    .u-section-5 .u-container-layout-4 {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .u-section-5 .u-image-4 {
      margin-top: 26px;
    }
  
    .u-section-5 .u-text-8 {
      width: auto;
      margin-top: 13px;
    }
  
    .u-section-5 .u-text-9 {
      width: auto;
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: -1px;
    }
  }